#canvas-container{
	text-align: center;
	position: relative;
}


#game_bg{
	background-color: green;
	top:0;
	left: 0;
	
}
#game_main {
margin: 40;
background-color:#87cefa ;
position: absolute;
 top:.05;
 left:20;
}